:root{
    /* # Color Themes */

    /* ## Dark Theme */
    --bg-color:             #141518;

    --primary-color:        #FF5722;
    --primary-color2:       #f78c65;

    --surface-color1:       #191D22;
    --surface-color2:       #1E262E;
    --surface-color3:       #26323E;

    --error-color:          #CF6679;

    --secondary-color:      #22cbff;
    --secondary-color2:     #74dafe;

    /* ### Oncolors */

    --onprimary-color:      #000000dd;
    --onprimary-color2:     #0a0a0a99;
    --onprimary-color3:     #00000060;

    --onsurface-color:      #FFFFFFdd;
    --onsurface-color2:     #FFFFFF99;
    --onsurface-color3:     #FFFFFF60;

    --onerror-color:        #000000dd;

    /* ## Light Theme */


    /* ## backup */
    --bg-color-black:       #121212;

    --surface-color1-black: #1B1B1B;
    --surface-color2-black: #252525;
    --surface-color3-black: #343434;

    --surface-color-minalpha:#6a9ed30a;
}

/* # Utilities */

/* ## General */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--bg-color);
    color: var(--onsurface-color);

    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.container {
    margin: 0 auto;
    padding: 0 auto;

    overflow: auto;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.flexrow {
    flex-direction: row;
}

.flexitem {
    padding: 20px;
    margin: 10px;
}

.webcontainer {
    margin: auto;
    max-width: 1100px;
}

.expanded {
    background: var(--surface-color1);
}

/* ## Content */

h1 {
    color: var(--primary-color);

    margin: 0.7em 0;

    font-size: 2.5em;
    font-weight: 800;
}

h2 {
    color: var(--onsurface-color);

    margin: 0.7em 0;

    font-size: 2em;
    font-weight: 700;
}

h3 {
    color: var(--onsurface-color);

    margin: 0.8em 0;

    font-size: 1.5em;
    font-weight: 700;
}

h4 {
    color: var(--onsurface-color);

    margin: 1em 0;

    font-size: 1.2em;
    font-weight: 700;
}

h5 {
    color: var(--onsurface-color);

    margin: 1em 0;

    font-size: 1.2em;
    font-weight: 700;
}

h6 {
    color: var(--onsurface-color);

    margin: 1em 0;

    font-size: 1.1em;
    font-weight: 700;
}

p {
    margin: 1em 0;
}

a {
    color: var(--secondary-color);

    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}



/* ## Buttons */

.btn, 
a .btn,
input[type="submit"] {
    background: var(--primary-color);
    color: var(--onprimary-color);

    display: inline-block;
    
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    text-decoration: none;
    font-size: 1em;

    cursor: pointer;
}

.btn:hover, 
.btn:active {
    background: var(--primary-color2);

    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.2);
}

.btn.secondary {
    background: var(--surface-color1);
    color: var(--primary-color);

    display: inline-block;
    
    padding: 10px 30px;
    border: 2px solid var(--surface-color2);
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    text-decoration: none;

    cursor: pointer;

}


.btn.secondary.s2 {
    background: var(--surface-color2);
    border: 2px solid var(--surface-color3);
}

.btn.secondary:hover , 
.btn.secondary:active {
    background: var(--onsurface-color3);

    color: var(--primary-color2);
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.2);
}

.fab-btn, 
a .fab-btn {
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 40px;
}

.fab-btn.btn-content {
    text-align: center;
    font-size: 2em;

    padding: 9px;
}

.btn-text {
    font-size: 0.5em;
}

.fab-rightbott {
    margin: 20px;
    position: fixed;
    bottom: 90px;
    right: 0;
}

.btnrow {
    flex-direction: row;
    justify-content: space-between;
}

/* ## Icons */


.btn-options::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f142";
}

.btn-add::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f067";
}

.btn-home::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f015";
}

.btn-event::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f133";
}

.btn-inbox::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f01c";
}

.btn-settings::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f013";
}

.btn-back::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f053";
}

.btn-calendarcheck::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f274";
}

.btn-edit::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f044";
}




/* # Navbuttons */

.nav-btn {
    background: var(--surface-color3);
    color: var(--onsurface-color2);

    min-width: 50px;
    max-height: 100%;
    border-radius: 0;
    padding: 8px 0 12px;

    text-align: center;
    font-size: 2em;

    box-shadow: 0 0;
    flex-grow: 1;
}

.active.nav-btn {
    color: var(--primary-color);
}

.nav-btn:hover {
    background: var(--surface-color2);
    color: var(--primary-color2);
}


@media (min-width:600px) { 
    .nav-btn {
        padding: 20px 30px;   
    }
}


/* ## Forms */

label {
    color: var(--onsurface-color3);

    display: block;

    margin: 0 0 5px 0;

    font-variant: small-caps;
}

input[type="text"], 
input[type="password"],
select {
    background: var(--surface-color2);
    color: var(--onsurface-color2);

    padding: 8px 8px;
    border:2px solid var(--surface-color2);
    border-radius: 5px;
    outline: none;

    font-size: 1em;
}

input[type="text"]:focus, 
input[type="text"]:hover, 
input[type="password"]:focus, 
input[type="password"]:hover,
select:focus, select:focus {
    color: var(--onsurface-color);

    border:2px solid var(--primary-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/* ## Table */

td {
    padding: 5px 15px;
}

tfoot td {
    text-align: center;
    font-weight: 700;
}

tbody tr:nth-child(odd) {
    background: var(--surface-color2);
}

table .btn {
    background: var(--surface-color3);
    color: var(--onsurface-color2);

    padding: 5px 10px;
}

table .btn:hover, 
table .btn:active {
    background: var(--onsurface-color3);

    box-shadow: 0 3px 13px rgba(114, 81, 81, 0.2);
}


/* ## Errors */

.errors {
    color: var(--error-color);
}


/* # General */


/* ## Topbar */

.topbar-container {
    position: fixed;

    z-index: 2;

    top: 0;
    width: 100%;
    padding: 0;
    height: 90px;
}

.topbar {
    background: var(--surface-color3);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    flex-direction: row;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    padding: 0;
}

.topbar.inv {
    background: var(--bg-color);
    padding: 0 0 0 5%;
}

.topbar.details {
    justify-content: flex-start;
}

.topbar .title  {
    color: var(--onsurface-color);
    font-size: 2.8em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.topbar.without-backbtn .title, 
.topbar.without-backbtn .titlesmall,
.topbar.without-backbtn .titledesc  {
    padding-left: 40px;
}



.topbar .titlesmall {
    color: var(--onsurface-color);
    font-size: 2em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.topbar .titledesc {
    color: var(--onsurface-color2);
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.topbar .btn {
    background: 0;
    color: var(--onsurface-color1);

    font-size: 2.2em;

    border-radius: 0;
    padding: 20px 30px;

    text-align: center;

    box-shadow: 0 0;
}

.topbar .btn.right {
    position: absolute;
    right: 0;
}


/* ## Bottomnavbar */

.bottomnavbar-container {
    position: fixed;

    bottom: 0;
    width: 100%;
    padding: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.bottomnavbar {
    background: var(--surface-color3);

    max-width: 100%;
    padding: 0px 0px;
}

.nav {
    flex-direction: row;
    align-items: flex-end;
}

@media (min-width:600px) { 
    .bottomnavbar {
        max-width: min-content;
        padding: 0px 30px;
    }
}






/* # Sections */

/* ## Login */

.login {
    margin: 20px;
}

.login .main {
    background: var(--surface-color1);
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 100%;
    padding: 15px;
}

.login .main2 {
    background: var(--surface-color1);
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 100%;
    padding: 5px 15px 15px;
    margin: 10px 0 0;
}

.login .field-item {
    width: 100%;
    margin: 5px 0;
}

.login .field-item input[type="text"], 
.login .field-item input[type="password"] {
    width: 100%;
    height: 50px;
    font-weight: 100;
    font-size: 1.1em;
}

.login .title {
    color: var(--onsurface-color);

    font-size: 1.5em;
    font-weight: 700;
}



.login .buttons {
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
    padding: 0;
}

/* ## Signup */

.login.signup .main {
    margin: -40px 0 0;
}

.field-item.space {
    margin: 20px 0 0;
}

.field-item.space2 {
    margin: 60px 0 0;
}


/* ## Logo */

.logo {
    margin: 0;
    color: var(--primary-color);
    font-size: 12em;
    font-weight: 900;
    text-align: center;
}

/* ## Calendarlist */

.calendar-list {
    top: 90px;
    position: relative;

    flex-direction: column;
    margin: 10px 20px;
}

.callist .container.flex {
    flex-direction: row;
    width: 100%;
    margin: 20px 0;
}

.calllist-item .container .flex {
    flex-direction: column;

}


.callist-left {
    width: 20%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.callist-left .day {
    color: var(--onsurface-color2);
    font-variant: small-caps;
    font-weight: 300;
    font-size: 1.7em;
    margin: 0;
    padding: 0;
}

.callist-left .dayofmonth {
    color: var(--onsurface-color);
    font-size: 3em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}


.callist-right {
    background: var(--surface-color2);
    width: 80%;
    margin: 0;
    padding: 20px;

    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.callist-right .title {
    color: var(--onsurface-color);
    font-size: 1.7em;
    font-weight: 500;    
    margin: 0;
    padding: 0;
}

.callist-right .time {
    color: var(--onsurface-color2);
    margin: 0;
    padding: 0;
}


/* ## Calendardetails */

.calendardetails {
    position: relative;
    background: var(--surface-color2);
    top: 90px;

    margin: -30px 10px 10px;
    padding: 50px 10px 10px;

    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.calendardetails .detail2-field, 
.calendardetails .detail-field {
    margin: 10px;
}

.calendardetails .title {
    color: var(--onsurface-color);

    margin: 0.6em 0 0.4em;

    font-size: 1.5em;
    font-weight: 700;
}

/* ### Presence */

.presence {

}

.presence-info {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.presence-titlesub {
    flex-direction: row;
    margin: 0 10px 0;
    padding: 0;
}

.presence .presence-title {
    color: var(--onsurface-color);

    margin: 0 10px 0 0;

    font-size: 1.5em;
    font-weight: 700;
}

.presence .presence-subtitle {
    color: var(--onsurface-color3);

    margin: 0 0 0 10px;

    font-size: 1.3em;
    font-weight: 400;
}

.presence-timeslot {
    text-align: center;
    margin: 0 10px 0;
    padding: 0;
}

.presence .timeslot-title {
    color: var(--onsurface-color);

    margin: 0 0 -5px;

    font-size: 1em;
    font-weight: 400;


}

.presence .timeslot-time {
    color: var(--onsurface-color3);

    margin: 0;

    font-size: 1.3em;
    font-weight: 400;
}



.presence-main {
    background: var(--surface-color3);
    width: 100%;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.presence-form.container {
    width: 100%;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
}

.presence-form {
    text-align: center;
}

.presence-form label {
    color: var(--onsurface-color3);

    display: block;

    margin: 0 0 5px 0;
    font-size: 1.3em;
    font-variant: small-caps;
}

/* .presence-form input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
} */

/* ## Settings */

.settings {
    position: relative;
    top: 90px;
    padding: 10px;
    width: 100%;
    margin-bottom: 190px;
}



.settings-search {
    margin: 10px 0 0;
    width: 100%;
    text-align: center;
}

.settings-search .field-item {
    width: 60%;
    margin: 0 auto;
}

.settings-search input {
    width: 100%;
}

.settings-search label {
    text-align: left;
}
 
.settings-mainbutton {
    margin: 10px;
    width: 100%;
    text-align: center;
}

.settings-mainbutton .btn {
    width: 60%;
    padding: 12px 20px;
}


.settings-main.container{
    position: relative;
    background: var(--surface-color2);
    width: 100%;
    margin: 15px 0 0;

    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.settings-main .btn {
    width: 80%;
    text-align: center;
}

.setting {
    margin: 5px;-
}


/* ## Users table */

.users-table {
    background-color: var(--surface-color1);
    position: relative;
    top: 90px;
    margin: 20px 20px 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.users {
    width: 100%;
    margin: 0 0 10px;
}

/* ## General Table Details */

.tabledetails {
    background-color: var(--surface-color1);
    position: relative;
    top: 90px;
    margin: 20px 20px 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.tabledetails .item { 
    margin: 20px 0;
    padding: 0;
}

.tabledetails .item input[type="text"],
.tabledetails .item input[type="password"] {
    width: 100%;
}

.tabledetails h4  {
    color: var(--onsurface-color);

    margin: 0;
    padding: 0;
}

.tabledetails p  {
    color: var(--onsurface-color2);

    padding: 0;
    margin: 0;

    font-variant: small-caps;
}

/* ## Generalcreate Section */

.generalcreate .datafield-item {
    margin: 20px 0;
}

.generalcreate p  {
    color: var(--onsurface-color2);

    padding: 0;
    margin: 0;

    font-variant: small-caps;
}


/* # Template */

.template {
    /* color */

    /* position */

    /* display */

    /* box model */

    /* box attributes*/

    /* text */

    /* other */

    /* animation */
}