:root{
    /* # Color Themes */

    /* ## Dark Theme */
    --bg-color:             #121212;

    --primary-color:        #22cbff;
    --primary-color2:       #74dafe;

    --surface-color1:       #1B1B1B;
    --surface-color2:       #252525;
    --surface-color3:       #343434;

    --error-color:          #CF6679;

    /* ### Oncolors */

    --onprimary-color:      #000000dd;
    --onprimary-color2:     #0a0a0a99;
    --onprimary-color3:     #00000060;

    --onsurface-color:      #FFFFFFdd;
    --onsurface-color2:     #FFFFFF99;
    --onsurface-color3:     #FFFFFF60;

    --onerror-color:        #000000dd;

    /* Font */


    font-family: Roboto, Arial, Helvetica, sans-serif;
}


/* # Utilities */

/* ## General */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    transition: all 0.2s;
}

@media (max-width:600px) { 
    :root {
        font-size: 12px
    }

    .login {
        font-size: 1.6rem;
    }
}

@media (min-width:600px) { 
    .login {
        font-size: 1.2rem;
    }
}

body {
    background: var(--bg-color);
    color: var(--onsurface-color);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    padding: 0 auto;
    height: 100%;

    overflow: auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    padding: 0 auto;
    height: 100%;

    overflow: auto;
}

.webcontainer {
    margin: auto;
    max-width: 1100px;
}

main {
    position: relative;
    top: 5.625rem;
}

/* ## Content */

h1 {
    color: var(--primary-color);

    margin: 0.7em 0;

    font-size: 2.5rem;
    font-weight: 800;
}

h2 {
    color: var(--onsurface-color);

    margin: 0.7em 0;

    font-size: 2rem;
    font-weight: 700;
}

h3 {
    color: var(--onsurface-color);

    margin: 0.8em 0;

    font-size: 1.5rem;
    font-weight: 700;
}

h4 {
    color: var(--onsurface-color);

    margin: 1em 0;

    font-size: 1.2rem;
    font-weight: 700;
}

h5 {
    color: var(--onsurface-color);

    margin: 1em 0;

    font-size: 1.2rem;
    font-weight: 700;
}

h6 {
    color: var(--onsurface-color);

    margin: 1em 0;

    font-size: 1.1rem;
    font-weight: 700;
}

p {
    margin: 1rem 0;
}

a {
    color: var(--secondary-color);

    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

/* ## Buttons */

/* ### General button */

.btn, 
a .btn,
input[type="submit"] {
    background: var(--primary-color);
    color: var(--onprimary-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border: none;

    display: inline-block;
    
    padding: 0.65em 2em;

    border-radius: 0.35em;

    text-decoration: none;
    font-size: 1rem;

    cursor: pointer;
}

.btn:hover, 
.btn:active {
    background: var(--primary-color2);
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.2);

}

/* ### Secondary button */

.btn.secondary {
    background: var(--surface-color1);
    color: var(--primary-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border: 0.14em solid var(--surface-color2);

    display: inline-block;
    
    padding: 0.65em 2em;

    border-radius: 0.35em;

    text-decoration: none;
    font-size: 1rem;

    cursor: pointer;
}

.btn.secondary.s2 {
    background: var(--surface-color2);
    border: 0.14em solid var(--surface-color3);
}

.btn.secondary:hover , 
.btn.secondary:active {
    background: var(--onsurface-color3);
    color: var(--primary-color2);
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.2);
}


/* ### FAB button */

.fab-container {
    max-width: 1100px;

    justify-content: flex-end;
    position: fixed;
    bottom: 6rem;

    height: 5.25em;
    width: 100%;
    padding: 0;

    z-index: 10;

    visibility: hidden;
}

.fab-btn {
    background: var(--primary-color);
    color: var(--onprimary-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    
    display: inline-block;
    flex-direction: row;
    align-items: flex-end;

    height: 1.875em;
    width: 1.875em;
    border: 0;
    padding: 0.7rem;
    margin: 0.4rem;

    outline: 0;
    border-radius: 50%;

    text-align: center;

    text-decoration: none;
    font-size: 2.5rem;

    cursor: pointer;
    visibility: visible;
}

@media (min-width:600px) { 
    .fab-container {
        bottom: 5.75rem;
        top: 3rem;
        margin: 0;
        overflow: visible;
    }

    .fab-btn {
        margin-right: 5rem;
        font-size: 2rem;
        padding: 0.5rem;
    }
}

@media (min-width:calc(1100px + 5rem + 8rem)) {
    .fab-btn {
        margin-right: -5rem;
    }
}

/* ## Icons Button Content */

.btncontent-options::before        { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f142"; }
.btncontent-add::before            { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f067"; }
.btncontent-home::before           { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f015"; }
.btncontent-event::before          { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f133"; }
.btncontent-inbox::before          { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f01c"; }
.btncontent-settings::before       { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f013"; }
.btncontent-back::before           { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f053"; }
.btncontent-calendarcheck::before  { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f274"; }
.btncontent-edit::before           { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f044"; }
.btncontent-login::before          { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f2f6"; }
 
/* # Navbuttons */

.nav-btn {
    background: var(--surface-color3);
    color: var(--onsurface-color2);
    box-shadow: 0 0;

    flex-grow: 1;

    min-width: 3.125rem;
    max-height: 100%;
    border-radius: 0;
    padding: .50rem 0 .75rem;

    text-align: center;
    font-size: 2rem;
}

.nav-btn:hover {
    background: var(--surface-color2);
    color: var(--primary-color2);
}

.nav-btn > h4 {
    color: var(--onsurface-color2);
     
    margin: 0;

    font-size: 1rem;
}

.active.nav-btn,
.active.nav-btn > h4 {
    color: var(--primary-color);
}

@media (min-width:600px) { 
    .nav-btn {
        padding: 1.25rem 1.9rem;   
    }
}


/* ## Forms */

label {
    color: var(--onsurface-color3);

    display: block;

    margin: 0 0 0.3em;

    font-variant: all-small-caps;
}

input[type="text"], 
input[type="password"],
select {
    background: var(--surface-color2);
    color: var(--onsurface-color2);

    border: 0;
    outline: 0;

    padding: .5rem .5rem;

    border-radius: 0.35rem;

    font-size: 1rem;
}

input[type="text"]:focus, 
input[type="text"]:hover, 
input[type="password"]:focus, 
input[type="password"]:hover,
select:focus, select:focus {
    color: var(--onsurface-color);

    border: 0.14em solid var(--primary-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}


/* # General */

/* ## Topbar */

.topbar {
    background: var(--surface-color3);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    position: fixed;

    z-index: 2;
    top: 0;

    width: 100%;
    height: 5.6rem;
    margin: 0;
}

.topbar .content {
    padding-left: 2rem;
    justify-content: space-between; 
}

.topbar h2  {
    color: var(--onsurface-color);

    margin: 0;
    padding: 0;

    font-size: 2.8rem;
    font-weight: 500;
}

.topbar .btn {
    background: 0;
    color: var(--onsurface-color1);
    box-shadow: 0 0;

    padding: 1.25rem 2rem;

    border-radius: 0;
    text-align: center;

    font-size: 2.2rem;
}

/* ## Bottomnavbar */

.bottomnavbar-container {
    position: fixed;
    bottom: 0;

    width: 100%;
    padding: 0;
}

nav.navbar  {
    background: var(--surface-color3);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    flex-direction: row;
    align-items: flex-end;

    max-width: 100%;
    padding: 0;
}

@media (min-width:600px) { 
    nav.navbar {
        max-width: min-content;
        padding: 0 1.875rem;
    }
}

/* # Sections */

/* ## Login */

.login {
    margin: 1.25rem;

    top: 0;
}

.login .maincard {
    background: var(--surface-color1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    width: 100%;
    padding: 0.94em;

    border-radius: 0.35em;
}

.login h3 {
    margin-top: 0;
}

.login .field-item {
    width: 100%;
    margin: 0.3em 0;
}

.login .field-item input[type="text"], 
.login .field-item input[type="password"] {
    width: 100%;
    height: 3.2em;

    font-weight: 100;
    font-size: 1.1rem;
}

.login .buttons {
    justify-content: space-between;

    margin: 0.94em;
    padding: 0;
}


/* ## Logo */

.logo {
    color: var(--primary-color);

    margin: 0;

    text-align: center;

    font-size: 12rem;
    font-weight: 900;
}

/* ## Calendarlist */



.callist {
    flex-direction: column;

    margin: 1.25rem;
}

.callist .flex-row {
    width: 100%;
    margin: 1.25rem 0;
}


.callist .left {
    width: 20%;
    margin: 0 1rem 0 0;
    padding: 0;

    text-align: center;
}

.callist .left h3 {
    color: var(--onsurface-color2);

    margin: 0;
    padding: 0;

    font-weight: 300;
    font-size: 1.7rem;
    font-variant: all-all-small-caps;
}

.callist .left h2 {
    color: var(--onsurface-color);

    margin: 0;
    padding: 0;

    font-size: 3rem;
    font-weight: 700;
}


.callist .right {
    background: var(--surface-color2);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    
    width: 80%;
    margin: 0;
    padding: 1.25rem;

    border-radius: 0.35em;

}

.callist .right h3 {
    color: var(--onsurface-color);

    margin: 0;
    padding: 0;

    font-size: 1.7rem;
    font-weight: 500;  
}

.callist .right h4 {
    color: var(--onsurface-color2);
   
    margin: 0;
    padding: 0;

    font-size: 1rem;
    font-weight: 400; 
}


/* # Template */

.template {
    /* color */

    /* position */

    /* display */

    /* box model */

    /* box attributes*/

    /* text */

    /* other */

    /* animation */
}