:root{
    /* # Color Themes */

    /* ## Dark Theme */
    --bg-color:             #121212;

    --primary-color:        #22cbff;
    --primary-color2:       #74dafe;

    --surface-color1:       #1B1B1B;
    --surface-color2:       #252525;
    --surface-color3:       #343434;

    --error-color:          #CF6679;

    /* ### Oncolors */

    --onprimary-color:      #000000dd;
    --onprimary-color2:     #0a0a0a99;
    --onprimary-color3:     #00000060;

    --onsurface-color:      #FFFFFFdd;
    --onsurface-color2:     #FFFFFF99;
    --onsurface-color3:     #FFFFFF60;

    --onerror-color:        #000000dd;
}


/* # Utilities */

/* ## General */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    animation-delay: 1.9s;
}

body {
    background: var(--bg-color);
    color: var(--onsurface-color);

    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    padding: 0 auto;
    height: 100%;

    overflow: auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    padding: 0 auto;
    height: 100%;

    overflow: auto;
}

.webcontainer {
    margin: auto;
    max-width: 1100px;
}

/* ## Content */

h1 {
    color: var(--primary-color);

    margin: 0.7em 0;

    font-size: 2.5em;
    font-weight: 800;
}

h2 {
    color: var(--onsurface-color);

    margin: 0.7em 0;

    font-size: 2em;
    font-weight: 700;
}

h3 {
    color: var(--onsurface-color);

    margin: 0.8em 0;

    font-size: 1.5em;
    font-weight: 700;
}

h4 {
    color: var(--onsurface-color);

    margin: 1em 0;

    font-size: 1.2em;
    font-weight: 700;
}

h5 {
    color: var(--onsurface-color);

    margin: 1em 0;

    font-size: 1.2em;
    font-weight: 700;
}

h6 {
    color: var(--onsurface-color);

    margin: 1em 0;

    font-size: 1.1em;
    font-weight: 700;
}

p {
    margin: 1em 0;
}

a {
    color: var(--secondary-color);

    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

/* ## Buttons */

/* ### General button */

.btn, 
a .btn,
input[type="submit"] {
    background: var(--primary-color);
    color: var(--onprimary-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border: none;

    display: inline-block;
    
    padding: 10px 30px;

    border-radius: 5px;

    text-decoration: none;
    font-size: 1em;

    cursor: pointer;
}

.btn:hover, 
.btn:active {
    background: var(--primary-color2);
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.2);

}

/* ### Secondary button */

.btn.secondary {
    background: var(--surface-color1);
    color: var(--primary-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--surface-color2);

    display: inline-block;
    
    padding: 10px 30px;

    border-radius: 5px;

    text-decoration: none;

    cursor: pointer;
}

.btn.secondary.s2 {
    background: var(--surface-color2);
    border: 2px solid var(--surface-color3);
}

.btn.secondary:hover , 
.btn.secondary:active {
    background: var(--onsurface-color3);
    color: var(--primary-color2);
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.2);
}


/* ### FAB button */

.fab-btn {
    background: var(--primary-color);
    color: var(--onprimary-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    display: inline-block;

    height: 60px;
    width: 60px;
    border: 0;
    padding: 9px;

    outline: 0;
    border-radius: 50%;

    text-align: center;

    text-decoration: none;
    font-size: 2em;

    cursor: pointer;
}

.fab-rightbott {
    position: fixed;
    bottom: 90px;
    right: 0;

    margin-right: 15%;
}

@media (max-width:600px) { 
    .fab-rightbott {
        margin-right: 10%;  
        margin-bottom: 10px;  
    }
}

@media (max-width:1100px) { 
    .fab-rightbott {
        margin-right: 20px;
    }
}


/* ## Icons Button Content */

.btncontent-options::before        { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f142"; }
.btncontent-add::before            { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f067"; }
.btncontent-home::before           { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f015"; }
.btncontent-event::before          { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f133"; }
.btncontent-inbox::before          { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f01c"; }
.btncontent-settings::before       { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f013"; }
.btncontent-back::before           { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f053"; }
.btncontent-calendarcheck::before  { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f274"; }
.btncontent-edit::before           { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f044"; }
.btncontent-login::before          { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f2f6"; }
 
/* # Navbuttons */

.nav-btn {
    background: var(--surface-color3);
    color: var(--onsurface-color2);
    box-shadow: 0 0;

    flex-grow: 1;

    min-width: 50px;
    max-height: 100%;
    border-radius: 0;
    padding: 8px 0 12px;

    text-align: center;
    font-size: 2em;
}

.nav-btn:hover {
    background: var(--surface-color2);
    color: var(--primary-color2);
}

.nav-btn > h4 {
    color: var(--onsurface-color2);
     
    margin: 0;

    font-size: 0.5em;
}

.active.nav-btn,
.active.nav-btn > h4 {
    color: var(--primary-color);
}

@media (min-width:600px) { 
    .nav-btn {
        padding: 20px 30px;   
    }
}


/* ## Forms */

label {
    color: var(--onsurface-color3);

    display: block;

    margin: 0 0 5px 0;

    font-variant: all-small-caps;
}

input[type="text"], 
input[type="password"],
select {
    background: var(--surface-color2);
    color: var(--onsurface-color2);
    border:2px solid var(--surface-color2);
    outline: none;

    padding: 8px 8px;

    border-radius: 5px;

    font-size: 1em;
}

input[type="text"]:focus, 
input[type="text"]:hover, 
input[type="password"]:focus, 
input[type="password"]:hover,
select:focus, select:focus {
    color: var(--onsurface-color);

    border:2px solid var(--primary-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}


/* # General */

/* ## Topbar */

.topbar {
    background: var(--surface-color3);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    position: fixed;

    flex-direction: row;
    justify-content: space-between;

    z-index: 2;
    top: 0;

    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0 0 0 5%;
}

.topbar > h2  {
    color: var(--onsurface-color);

    margin: 0;
    padding: 0;

    font-size: 2.8em;
    font-weight: 500;
}

.topbar .btn {
    background: 0;
    color: var(--onsurface-color1);
    box-shadow: 0 0;

    padding: 20px 30px;

    border-radius: 0;
    text-align: center;

    font-size: 2.2em;
}

/* ## Bottomnavbar */

.bottomnavbar-container {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    position: fixed;
    bottom: 0;

    width: 100%;
    padding: 0;
}

nav.navbar  {
    background: var(--surface-color3);

    flex-direction: row;
    align-items: flex-end;

    max-width: 100%;
    padding: 0px 0px;
}

@media (min-width:600px) { 
    nav.navbar {
        max-width: min-content;
        padding: 0px 30px;
    }
}

/* # Sections */

/* ## Login */

.login {
    margin: 20px;
}

.login .maincard {
    background: var(--surface-color1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    width: 100%;
    padding: 15px;

    border-radius: 5px;
}

.login .field-item {
    width: 100%;
    margin: 5px 0;
}

.login .field-item input[type="text"], 
.login .field-item input[type="password"] {
    width: 100%;
    height: 50px;

    font-weight: 100;
    font-size: 1.1em;
}

.login h3 {
    margin: 0;
}

.login .buttons {
    justify-content: space-between;

    margin: 15px;
    padding: 0;
}


/* ## Logo */

.logo {
    color: var(--primary-color);

    margin: 0;

    text-align: center;

    font-size: 12em;
    font-weight: 900;
}

/* ## Calendarlist */

.callist {
    position: relative;
    top: 90px;

    flex-direction: column;

    margin: 10px 20px;
}

.callist .flex {
    flex-direction: row;

    width: 100%;
    margin: 20px 0;
}


.callist .left {
    width: 20%;
    margin: 0;
    padding: 0;

    text-align: center;
}

.callist .left h3 {
    color: var(--onsurface-color2);

    margin: 0;
    padding: 0;

    font-weight: 300;
    font-size: 1.7em;
    font-variant: all-all-small-caps;
}

.callist .left h2 {
    color: var(--onsurface-color);

    margin: 0;
    padding: 0;

    font-size: 3em;
    font-weight: 700;
}


.callist .right {
    background: var(--surface-color2);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    
    width: 80%;
    margin: 0;
    padding: 20px;

    border-radius: 5px;

}

.callist .right h3 {
    color: var(--onsurface-color);

    margin: 0;
    padding: 0;

    font-size: 1.7em;
    font-weight: 500;  
}

.callist .right h4 {
    color: var(--onsurface-color2);
   
    margin: 0;
    padding: 0;

    font-size: 1em;
    font-weight: 400; 
}


/* # Template */

.template {
    /* color */

    /* position */

    /* display */

    /* box model */

    /* box attributes*/

    /* text */

    /* other */

    /* animation */
}